.registration-activate-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.registration-activate-component__message {
  font-size: 1.2em
}